body {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: Arial, sans-serif;
    background-color: #f9f9f9;
    margin: 0;
    padding: 0;
}

h1 {
    text-align: center;
    font-family: 'Playfair Display', 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

header {
    text-align: center;
    background-color: #fff;
    padding: 20px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.header-image {
    width: 100%;
    height: 50vh; /* Limit height to half of the screen */
    border-radius: 0;
    margin-bottom: 20px;
}

.styled-image {
    width: 90%;
    height: auto;
    margin: 10%;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    border-radius: 15px;
    padding: 3%;
}

.book-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
    gap: 20px;
    padding: 20px;
}

.book-card {
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 10px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    overflow: hidden;
    text-align: center;
    padding: 10px;
}

.book-card img {
    width: 100%;
    height: auto;
    border-bottom: 1px solid #ddd;
}

.book-card h3 {
    font-size: 1rem;
    margin: 10px 0;
}

.book-card p {
    font-size: 0.9rem;
    color: #555;
}
